<div class="container">
<div class="card card-cascade wider reverse">
  <div class="view view-cascade overlay" >
    <img class="card-img-top" [src]=details_arr.image alt="Card image cap" class="img-fluid mx-auto d-block">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="card-body card-body-cascade text-center">
    <h4 class="card-title"><strong>{{details_arr.title}}</strong></h4>
    <h6 class="font-weight-bold indigo-text py-2">{{details_arr.price}}</h6>
    <p class="card-text">{{details_arr.description}}</p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
    </p>
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>
</div>