<div class="container">
        <div class="row mt-4">
        <div class="col-md-4">
        <div class="card card-cascade">
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
            <a>
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong>Billy Coleman</strong></h4>
            <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
            </p>
        </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card card-cascade">
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                </p>
            </div>
            </div>
         </div>
         <div class="col-md-4">
                <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                    </p>
                </div>
                </div>
        </div>
    </div>
    </div>